<div id="checkoutPage">
  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 text-center">
            <span class="display-4.5"><br/>
                Congratulations!!! Your Order has been placed.
                <br/> 
                You will receive a confirmation email, once the order in approved  
            </span>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-10 text-center">
          <span class="display-3">
              <br/>          
              <a href="/mobile">Continue Shopping</a>
              <br/>
          </span>
        </div>
      </div>
  </div>
</div>
